# __Python Speedrun__
#### A speedrunning mission presented to you by _Naxxatra Sciences_

## Basic Operations

### Arithmetic Operations

In [2]:
5+5

10

In [3]:
1 - 2 # subtraction

-1

In [4]:
2 * 3 # multiplication

6

In [5]:
9 / 2 # division

4.5

In [6]:
9 // 2 # floor division

4

In [8]:

4**2

16

In [9]:
5 % 2 # modulus

1

### Comparison Operations

In [11]:
2 == 3 #Is it equal?

"gec" == "gec" #Is it equal?

True

In [12]:
1 != 2 #Is it NOT equal?

True

In [13]:
7 < 11 #Is it lesser?

True

In [14]:
5 > 9 #Is it greater?

False

In [15]:
67 >= 88 #Is it greater than or equal?

False

In [16]:
42 >= 42

True

In [17]:
24 <= 666 #Is it lesser than or equal?

True

### Logical Operations

In [21]:
(1 < 2) or (3 < 5) #If either of the 2 operations returns true, the final result will also be true


8 < 5 or True

True

In [20]:
(4 == 3) and (10 != 10) #Both operations need to return true in order for the final result to be true

False

In [22]:
(32 >= 20) and (6 != 5)

True

In [23]:
not (5*3 == 15) #Reversal

False

In [26]:
not (5*3 == 14)

True

## Variables

In [29]:
a = 10

print("The number a is", a)
print("The double of a is", a*2)

The number a is 10
The double of a is 20

In [31]:
name = "minion"

print(name)
print("the given name is", name)

minion
the given name is minion

In [32]:
b = 42
B = "X-rays"

print(b,B)

42 X-rays

In [36]:
D = 22
print(D)
D = "Antappan"
print(D)

22
Antappan

### Data types

Integer
```python
int
-1, 2, 0, 1000
```
---

Float 
```python
float
0.1, 2.76, -9.45
```
---
Strings

```python
str
'python', 'NAXXATRA', "hello", "wonder"

"""disco""",

"""
this is a multi-line string
"""

```
---
Boolean
```python
bool
True, False 
```
---
None
```python
None
```

In [42]:
type(a)

b = "Hello"
type(b)


c = False
type(c)

d = None
type(d)

name = "John doe"

city = 'New York'

paragraph = """
I am a paragraph.
I am a paragraph.
I am a paragraph.
"""

print(paragraph)

I am a paragraph.
I am a paragraph.
I am a paragraph.

In [43]:
b = 20
print(b)

20

In [44]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a < b)
print(a > b)
print(a == b)

30
-10
200
0.5
True
False
False

In [45]:
del a,b

In [48]:
print(b)

NameError: name 'b' is not defined

## Strings

In [51]:
# Strings are collection of characters
str1 = 'laka '
str2 = 'luku '
print(str1)
print(str2)

laka
luku

In [52]:
print(str1 + str2)
print(str1 * 5)

laka luku
laka laka laka laka laka

In [55]:
name = "GEC Palakkad"
name.lower()

'gec palakkad'

In [53]:
str1.upper(), str2.lower()

('LAKA ', 'luku ')

In [ ]:
s1 = '1'
s2 = '2'
print(s1 + s2)

In [66]:
str1 = "abcdefgh"

#Indexing (Collections in python are 0-indexed, i.e, the first element's index is 0)
str1[0:5]

str1[-3:-1]

'fg'

In [63]:
#Slicing - str1[start : stop : step] 
print(str1[1:5])

bcde

In [ ]:
del str1, str2, s1, s2

## Type Conversion

In [67]:
a = 10
b = str(a)
c = float(a)

In [68]:
print(a,b,c,sep="\n")

10
10
10.0

In [69]:
type(a)

int

In [70]:
type(b)

str

In [71]:
type(c)

float

In [72]:
d = int(b)

In [74]:
type(d)
d

10

In [80]:
b = '10.123123'

float(b)

int(b)

ValueError: invalid literal for int() with base 10: '10.123123'

In [ ]:
# a = input("Enter the first number: ")
# type(a)

In [ ]:
# a = int(input("Enter the first number: "))
# type(a)

In [ ]:
del a,b,c,d

## Lists

Mutable collection of heterogenous items

In [81]:
# Mutable collection of heterogenous items
l = [1, 2, 'a', 0.4, False, None]

In [85]:
l[-2] # accessing by index

False

In [86]:
l[2:4] # accessing a slice

['a', 0.4]

In [87]:
l.append(42) # adding to end of a list
l

[1, 2, 'a', 0.4, False, None, 42]

In [88]:
l.append([9,0]) # adding to a list
l

[1, 2, 'a', 0.4, False, None, 42, [9, 0]]

In [91]:
l[-1][1] # accessing the first element of the last list

0

## Dictionary

key value pairs

In [92]:
apple = {
    "name": "Apple", 
    "price": 100, 
    "color": "red"
}


orange = {"name": "orange", "price": 50, "color": "orange"}

In [103]:
person = {"name": "John", "age": 30}

# print(person)
# print(person["name"])
# print(person.get("name", "Not found"))
print(person.get("occupation", "No detail found!"))
# print(person["occupation"])


print("this is a critical operation")

No detail found!
this is a critical operation

## Conditional Statements

In [105]:
a = 10
b = 20
c = 30

```javascript
if (a>b) {
    console.log("a is greater than b");
}
```

In [112]:
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")
    if 1 > 0:
        print("1 is greater than 0")
    else:
        print("0 is greater than 1")

b is greater than a
1 is greater than 0

In [119]:
if (10 > 4) or (12 > 6):
    print("Both conditions are true")

Both conditions are true

In [114]:
if (a > b) and (a > c):
    print("a is the largest")
elif (b > a) and (b > c):
    print("b is the largest")
else:
    print("c is the largest")

c is the largest

In [ ]:
del a, b, c

## Looping Statements

### For loops

In [ ]:
sample_list = [1,2,3,4,5]

for number in sample_list:
    print(number)

In [ ]:
l = [1,2,3,4,5]

for i in l:
    print(i)

In [127]:
for i in [2, 3, 'naxxatra', 'rasp']:
    print(i)

2
3
naxxatra
rasp

### While loops

In [129]:
num = 0
while num <= 10:
    print("Python",num)
    num = num + 1

Python 0
Python 1
Python 2
Python 3
Python 4
Python 5
Python 6
Python 7
Python 8
Python 9
Python 10

## Functions

In [131]:
def addition(a, b):
    sum_of_two_nmbers = a + b
    return sum_of_two_nmbers

In [133]:
n1,n2 = 4,6
n3 = addition(n1, n2)
print(n3)


apples = 20
oranges = 30

number_of_fruits = addition(apples, oranges)
print(number_of_fruits)

10
50

In [142]:
def print_full_name(first_name, last_name, designation="Mr."):
    print("Hello,", designation, first_name, last_name)

In [146]:
print_full_name(first_name="Irene", last_name="Rose Johnson", designation="Ms.")

Hello, Ms. Irene Rose Johnson

In [143]:
print_full_name("John", "Doe")
print_full_name("Sooraj", "M")


print_full_name(first_name="John", last_name="Doe")
print_full_name(last_name="Doe", first_name="John")

Hello, Mr. John Doe
Hello, Mr. Sooraj M
Hello, Mr. John Doe
Hello, Mr. John Doe

In [141]:
print_full_name(last_name="Doe", first_name="John")
print_full_name("Doe", "John")

Hello, John Doe
Hello, Doe John

### Default Arguments

In [147]:
def greet(name = "Alfred"):
    print("Hello " + name)

In [148]:
greet("Bruce")

Hello Bruce

In [149]:
greet()

Hello Alfred

### Keyword Arguments

In [150]:
def greet(msg, name):
    print(msg + " " + name)

In [151]:
greet("Good morning", "Peter")

Good morning Peter

In [152]:
greet(name="Peter", msg="Good night")

Good night Peter

### Arbitrary Arguments

In [153]:
def greet(*names):
    for name in names:
        print("Hello " + name)

In [154]:
greet("Tony", "Alfred", "Bruce")

Hello Tony
Hello Alfred
Hello Bruce

In [157]:
def greet(*names):
    for name in names:
        print("Hello "+ name)

def greet(*names):
    for name in names: #f-strings implementation
        print(f"Hello {name}")

def greet(*names):
    for name in names:
        print("Hello %s"%(name))

In [158]:
greet("Tony", "Alfred", "Bruce")

Hello Tony
Hello Alfred
Hello Bruce

## Importing Packages

In [ ]:
import random

In [ ]:
l = [1, 2, 3, 4, 5]
random.choice(l)

In [ ]:
random.randint(4, 30)

In [ ]:
random.random()

In [ ]:
import math

In [ ]:
x = 3
print(math.sin(x))

In [ ]:
y = 36
print(math.sqrt(y))